{{ define "title" }}MuSHR: The UW Open Racecar Project{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-12 col-lg-6 order-2 order-lg-1">
        {{ .Content }}
        {{ partial "get-started.html" . }}
      </div>
      <div class="col-12 col-md-12 col-lg-6 order-1 order-lg-2 position-relative">
        <img class="intro-image-flying rounded" src="{{ .Params.intro_image | relURL }}" />
      </div>
    </div>
  </div>
</div>

<div class="container pt-6 pb-6 pt-md-7 pb-md-12" id="mushr-vid">
    <div class="row justify-content-center">
      <div class="col-12">
        <script src="https://fast.wistia.com/embed/medias/ziu9549is5.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:50.0% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_ziu9549is5 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/ziu9549is5/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
    </div>
    </div>
</div>

{{ $tutorials := where (where .Site.RegularPages "Type" "tutorials") ".Params.featured" true }}
{{if gt (len $tutorials) 0}}
<div class="container pt-6 pb-md-12">
  <div class="row justify-content-start">
    {{ $tutorials := where (where .Site.RegularPages "Type" "tutorials") ".Params.featured" true }}
    {{ range first 6 (sort $tutorials ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}tutorials">View All Tutorials</a>
    </div>
  </div>
</div>
{{end}}

<!-- <div class="container pt-6 pb-6 pt-md-7 pb-md-12" id="mushr-vid">
    <div class="row justify-content-center">
      <div class="col-12">
        <script src="https://fast.wistia.com/embed/medias/ziu9549is5.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:50.0% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_ziu9549is5 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/ziu9549is5/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
    </div>
    </div>
</div> -->
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-12 pb-md-12">
    <div class="row justify-content-center">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {{ if .image }}
          <div class="feature-image"><img alt="{{ .title }} logo" src="{{ .image | relURL }}" /></div>
          {{ end }}
          <h2 class="feature-title">{{ .title }}</h2>
          <div class="feature-content">
            <p>{{ .description }}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{ partial "teaching.html" . }}
{{ partial "cite.html" }}
{{ end }}

{{ define "footer_js" }}
{{ end }}
