.dropdown-content {
	display: none;
    position: absolute;
    font-size: 0.9rem;
	background-color: white;
	color: $primary;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	a {
		color: $primary;
		padding: 10px 0px 5px 10px;
		text-decoration: none;
		display: block;
		&:hover {
			text-decoration: underline;
		}
	}
}