.dropbtn {
  font-size: 0.9rem;
  border: none;
  text-decoration: none;
  color: $primary;
  display: inline-block;
  font-family: "Saira Semi Condensed", "DM Sans", Arial, sans-serif, -apple-system;
}