.page-tutorials-single {
  h1.title {
    font-size: 3rem;
    font-family: $font-family-heading;
    color: $primary;
  }
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
        color: rgb(104, 104, 104);
      }
    }
    h4 {
        margin-bottom: 40px;
    }
  }

  strong {
    font-weight: $font-weight-bold;
  }
}
