.team-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .team-image {
    margin-right: 10px;
    img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }
  }
  .team-meta {
    flex: 1;
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  .team-content {
    flex: 1 0 100%;
  }
}

.inline-svg {
  display: inline-block;
  height: 1.35rem;
  width: 1.35rem;
  top: 0.15rem;
  position: relative;
  margin-right: 5px;
  margin-top: 3px;
  text-decoration: none;
}

.icon {
	text-decoration: none;
}