{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-tutorials-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro model-row">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-6 col-lg-6 order-2 order-md-1" style="z-index: 2;">
        {{ .Content }}
      </div>
      <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2 h-100">
        <iframe class="intro-image-flying model" src="https://homes.cs.washington.edu/~planc509/mushr_interactive/mushr_nano.html"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container pt-6 pb-md-12">
  <div class="row">
    {{ $tutorials := where (where .Site.RegularPages "Type" "hardware") ".Params.active" true }}
    {{ range $tutorials.ByWeight }}
    <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ end }}