---
---

@import "{{ site.theme }}";

.page-header{
    background-image: url(/mushr_website/assets/img/uw_racecar2.JPG);
    background-size: 1000px 600px;
    height: 600px;
    background-repeat:no-repeat;
    background-color: #FFFFFF;
    background-position:center;
    vertical-align:middle;
}
.project-name{
}
