{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{.Title}}</h1>
        <div class="content mt-4">{{.Content}}</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-12 col-md-12 strip-grey" style="padding: 0px;">
        <iframe id="forum_embed"
          src="javascript:void(0)"
          scrolling="no"
          frameborder="0"
          width="100%"
          height="700">
        </iframe>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById('forum_embed').src =
     'https://groups.google.com/forum/embed/?place=forum/mushr'
     + '&showsearch=true&showpopout=true&showtabs=false'
     + '&parenturl=' + encodeURIComponent(window.location.href);
</script>
{{ end }}
