<div class="team team-summary">
  {{ if .Params.image }}
  <div class="team-image">
    <img alt="Photo of {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
  </div>
  {{ end }}
  <div class="team-meta">
    <h2 class="team-name">{{ .Title }}</h2>
    <p class="team-description">{{ .Params.Jobtitle }}</p>
    {{ if .Params.Email }}
    <a target="_blank" href="mailto:{{ .Params.Email }}" class="icon">
        <img class="inline-svg" src="{{ .Site.BaseURL }}icons/envelope.svg">
    </a> {{ end }}
    {{ if .Params.Linkedinurl }}
    <a target="_blank" href="{{ .Params.Linkedinurl }}" class="icon">
        <img class="inline-svg" src="{{ .Site.BaseURL }}icons/fa-linkedin.svg">
    </a> {{ end }}
    {{ if .Params.Websiteurl }}
    <a target="_blank" href="{{ .Params.Websiteurl }}" class="icon">
        <img class="inline-svg" src="{{ .Site.BaseURL }}icons/globe.svg">
    </a> {{ end }}
    {{ if .Params.Github }}
    <a target="_blank" href="https://github.com/{{ .Params.Github }}" class="icon">
        <img class="inline-svg" src="{{ .Site.BaseURL }}icons/fa-github.svg">
    </a> {{ end }}
    {{ if .Params.Twitter }}
    <a target="_blank" href="https://twitter.com/{{ .Params.Twitter }}" class="icon">
        <img class="inline-svg" src="{{ .Site.BaseURL }}icons/fa-twitter.svg">
    </a> {{ end }}
  </div>
  <div class="team-content">{{ .Content }}</div>
</div>