{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-tutorials-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-12 col-lg-6 order-2 order-lg-1">
        {{ .Content }}
      </div>
      <div class="col-12 col-md-12 col-lg-6 order-1 order-lg-2 position-relative">
        <img class="intro-image-flying" src="{{ .Params.intro_image | relURL }}" />
      </div>
    </div>
  </div>
</div>

<div class="container pt-6 pb-md-12">
  <div class="row">
    {{ $tutorials := where (where .Site.RegularPages "Type" "tutorials") ".Params.active" true }}
    {{ range $tutorials.ByWeight }}
    <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}