{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-tutorials-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="tutorial tutorial-single">
        <h1 class="title">{{.Title}}</h1>
        <div class="content"> 
          {{ if .Params.Summary }}
          <p>{{ .Params.Summary }}</p> {{ end }}
          {{ if and (.Params.Difficulty) (.Params.Duration)}}
          <h4 class="properties">{{.Params.Difficulty}} Tutorial | Expected duration is {{ .Params.Duration }} minutes</h4> {{ end }}
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "cite.html" }}
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}