<div class="strip strip-primary-gradient-top-bottom">
  <div class="container pt-3 pb-3 pt-md-6 pb-md-3 px-2">
    <div class="row justify-content-left citation-row">
        <h1 id="citation">Citation</h1>
        <p>If you plan to use any part of the the MuSHR platform, including tutorials, codebase, or hardware instructions for a project or paper, please cite 
        <em><a href="https://arxiv.org/abs/1908.08031">MuSHR: A Low-Cost,
        Open-Source Robotic Racecar for Education and Research
        </a></em>:</p></font>
        <div class="highlight"><pre class="chroma">{{ readFile "data/mushr-paper.txt" }}</pre></div>
        <p><br></p>
    </div>
  </div>
</div>