<div class="strip">
  <div class="container pt-3 pb-3 pt-md-6 pb-md-3 px-2">
    <div class="row justify-content-center teaching-row">
      <div class="col-12 col-md-6">
          <h1 id="teaching">Classroom Tested</h1>
          <p> We have refined the MuSHR platform through two undergraduate and two graduate robotics courses, 
              distilling lessons learned into the V3 roboracer.  From these endeavors, we offer ready-to-go 
              <a href="https://courses.cs.washington.edu/courses/cse490r/19sp/#assignments">labs and assignments</a>, as well as  
              sample <a href="https://courses.cs.washington.edu/courses/cse490r/19sp/#schedule">curricula and slides</a> 
              that were well-received in the recent undergraduate level robotics course 
              "<a href="https://courses.cs.washington.edu/courses/cse490r/19sp/">Mobile Robots</a>". 
          </p>
      </div>
      <div class="col-12 col-md-6">
        <table class="table table-striped">
          <tbody>
            {{ range $.Site.Data.classes }}
            <tr>
              <td>{{ .date }}</td>
              <td>{{ .level }}</td>
              <td>
              {{ if .link }}
              <a href="{{ .link }}">{{ .title }}</a>
              {{ else }}
              {{ .title }}
              {{ end }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>